/*menu*/
.nz_menu{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #223;
    background-color: #334;
}
.nz_menu.menu_active{
    z-index: 4;
}
.nz_menu_transitioning{
    overflow-y: hidden;
}
.nz_list{
    padding: 0;
    margin: 0;
    list-style: none;
    transition: left linear .2s;
}
.nz_level_1{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #334;
    transition: left linear .2s;
}
.nz_level_1 li:first-child{
    margin-top: 50px;
}
.nz_level_0{
    position: relative;
    left: 0;
}
.nz_collapse{
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    border-right: 1px solid #223;
    transition: left linear .2s;
}
.nz_sub_active_0{
    left: -20px;
}
.nz_list .nz_list.nz_sub_active_1{
    left: 20px;
}
.nz_collapse_active_1{
    left: 20px;
}
.nz_item_hide{
    display: none;
}
.nz_list li{
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #223;
}
.nz_expand{
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #223;
}